@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary: #60Beff;
}

html{
  scroll-behavior: smooth;
  font-size: 10px;
}



.max-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 80px;
  transition: all 0.3s ease;
}

section {
  padding-block: 100px;
}

.sectionHeader {
  font-family: 'ubuntu', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;

}


.sectionBody {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



@media screen and (max-width: 987px) {
  .max-width {
    padding: 0 40px;
  }

}